rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  // match /{document=**} { some super user at some point }
    match /classes/{classDoc}/{document=**} {
    // if the token with the email coming in matches the email of the teacher on the class doc and the email matches the document we have by auth uid
      allow read, write: 
      if request.auth != null 
        && request.auth.token.email in get(/databases/$(database)/documents/classes/$(classDoc)).data.teachers
        && request.auth.token.email == get(/databases/$(database)/documents/users/$(request.auth.uid)).data.email;
    }
    
    match /classes/{classDoc}/assignments/{doc}{
      allow read: if request.auth != null;
    }
    match /classes/{classDoc}/assignments/{assignmentDoc}/submissions/{subDoc}{
      allow read, write: 
      if 
      // this is the `resource` because you don't need to "get" a doc, the "resource" is the subDoc document
      request.auth != null
        && request.auth.token.email == resource.data.email;
    }
    
    match /users/{userDoc}{
      allow read, write:
      if request.auth != null
        && request.auth.uid == userDoc;
    }
  }
}