rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: 
      if // TODO: get from /classes/{classDoc}.data.teachers
      request.auth.token.email == 'brittany.sustare@saints.org'
        || request.auth.token.email == 'darla.linn@saints.org';
    }
    
    match /classes/{classDoc}/assignments/{doc}{
      allow read: if request.auth.uid != null;
    }
    
    match /classes/{classDoc}/assignments/{doc}/submissions/{d}{
      allow read, write: 
      if request.auth.uid == d;
    }
    
    match /users/{userDoc}{
      allow read, write:
      if request.auth.uid == userDoc;
    }
  }
}